<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerHabbitsMonitoring.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerHabbitsMonitoring.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <PowerHabbitsMonitoring.Settings>
            <setting name="PerMonitorUsage" serializeAs="String">
                <value>7.35</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LogFileDirectory" serializeAs="String">
                <value>C:\Users\dno1694\source\repos\PowerHabbitsMonitoring\PowerHabbitsMonitoring\bin\Debug</value>
            </setting>
            <setting name="DLLDirectory" serializeAs="String">
                <value>C:\Users\dno1694\source\repos\PowerHabbitsMonitoring\PowerHabbitsMonitoring\bin\Debug</value>
            </setting>
            <setting name="TrackBattery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdleTimeSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="InactiveTimeFile" serializeAs="String">
                <value>C:\Users\dno1694\source\repos\PowerHabbitsMonitoring\PowerHabbitsMonitoring\bin\Debug\activity.txt</value>
            </setting>
            <setting name="StatusCache" serializeAs="String">
                <value>C:\Users\dno1694\source\repos\PowerHabbitsMonitoring\PowerHabbitsMonitoring\bin\Debug\StatusCache.txt</value>
            </setting>
            <setting name="PostUrl" serializeAs="String">
                <value>http://ws000webdev1.tcad.telia.se/PowerConsumptionMonitor/api/PowerConsumption</value>
            </setting>
        </PowerHabbitsMonitoring.Settings>
    </applicationSettings>
    <userSettings>
        <PowerHabbitsMonitoring.Settings>
            <setting name="GetUrl" serializeAs="String">
                <value />
            </setting>
        </PowerHabbitsMonitoring.Settings>
    </userSettings>
</configuration>