<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerHabbitsMonitoring.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PowerHabbitsMonitoring.Settings>
            <setting name="DLLDirectory" serializeAs="String">
                <value>C:\Users\Public\AppData\Local\Telia\PowerHabbitsMonitoring</value>
            </setting>
            <setting name="InactiveTimeFile" serializeAs="String">
                <value>C:\Users\Public\AppData\Local\Telia\PowerHabbitsMonitoring\activity.txt</value>
            </setting>
            <setting name="StatusCache" serializeAs="String">
                <value>C:\Users\Public\AppData\Local\Telia\PowerHabbitsMonitoring\StatusCache.txt</value>
            </setting>
            <setting name="ApiURL" serializeAs="String">
                <value>http://ws000webdev1.tcad.telia.se/PowerConsumptionMonitor/api/PowerConsumption</value>
            </setting>
            <setting name="ActiveStatusExe" serializeAs="String">
                <value>C:\Users\Public\AppData\Local\Telia\PowerHabbitsMonitoring\ActivityTracker\LastActivityTracker.exe</value>
            </setting>
        </PowerHabbitsMonitoring.Settings>
    </userSettings>
</configuration>